<div class="bg-tint pb-5">
  <div id="contact" class="text-center display_font pt-4 pb-5">
    <h2>Skontaktuj się</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <form class="test ">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Imię" name="Name" [(ngModel)]="message.Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" name="Email" [(ngModel)]="message.Email">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" name="Message" placeholder="Wiadomość"
              rows="3" [(ngModel)]="message.Message"></textarea>
          </div>
          <button type="submit" [disabled]="click" [ngClass]="{'btn-custom': click}" (click)="onSubmit()"
            class=" btn btn-red mr-auto">Wysłać</button>
        </form>

      </div>
      <div class="col-md-6">

        <div class="email row ml-5">
          <img class="pb-3 pr-4" src="../../../assets/img/email.svg" alt="Email">
          <div class="text">
            <h3>Email:</h3>
            <p>biuro@farmadyn.pl</p>
          </div>
        </div>
        <div class="adres row  ml-5 pt-4">
          <img class="pb-3 pr-4" src="../../../assets/img/spot.svg" alt="Localisation">
          <div class="text">
            <h3>Adres:</h3>
            <p>Warszawa, ul.Przyczółkowa 2k</p>
          </div>
        </div>
        <div class="telefon row ml-5 pt-4">
          <img class="pb-3 pr-4" src="../../../assets/img/phone.svg" alt="Phone">
          <div class="text">
            <h3>Telefon:</h3>
            <p>692-992-589 / 506-441-403</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class=" m-0 p-0">
  <div class="container-fluid m-0 p-0">
    <div id="map-container-google-4" class="z-depth-1-half map-container-4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1225.0239841359!2d21.105981390437307!3d52.115255996458146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47192c4e521dddad%3A0xd7c358be0e8416f2!2sFarma%20Dy%C5%84%20Pumpkin%20Farm%20Powsin!5e0!3m2!1spl!2spl!4v1571670251837!5m2!1spl!2spl"
        frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

  </div>
