<app-a-navbar></app-a-navbar>
<div class="row">
    <div class="col-md-6">
      <h2><i class="fa fa-users"></i> Messages</h2>
    </div>
  </div>
  <table *ngIf="messages?.length > 0;else noMessages" class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let message of messages">
        <td>{{message.Name}}</td>
        <td>{{message.Email}}</td>
        <td>{{message.Message}}</td>
        <!-- <td><a routerLink="/{{client.id}}" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right">
        </i>Details</a></td> -->
      </tr>
    </tbody>
  </table>
  
  <ng-template #noMessages>
    <hr>
    <h5>There are no messages in the system</h5>
  </ng-template>
  