<div class="start-window">
    <app-navbar></app-navbar>
    <div class="container main">
        <div class="picture">
            <img id="pumpkin" src="../../../assets/img/pumpkin_top.jpg" alt=" ">
        </div>
        <div class="text">
            <span id="title"> Największy wybór dyń </span>
            <span id="children"> Dzieci uwielbiają to miejsce!</span>
            <a href="#o-nas"><button id="more">Zobacz więcej</button></a>
        </div>
        <a href="#navbar"><button id="go_top">GO!</button></a>
    </div>
</div>
<app-about-us></app-about-us>
<app-program></app-program>
<app-video></app-video>
<app-contact></app-contact>