    .start-window {
        background-color: #FFEEC3;
        min-height: 53em;
        height: 95vh;
    }
    
    #start-img {
        display: flex;
    }
    
    .pumpkin {
        position: relative;
        right: 200px;
        max-width: 200%;
        height: auto;
        width: auto\9;
        bottom: 4vh;
    }
    
    .title {
        position: relative;
        top: 180px;
        font-family: Acme;
        text-transform: capitalize;
        font-style: normal;
        font-weight: bold;
        font-size: 3.5vw;
        line-height: 177.5%;
        letter-spacing: 0.1em;
        color: #000000;
        z-index: 1;
        animation-name: moveInLeft;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0, -0, .18, .45);
    }
    
    .font-in-word {
        font-family: Andada;
    }
    
    .children {
        position: relative;
        top: 190px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.7vw;
        line-height: 177.5%;
        letter-spacing: 0.02em;
        color: #404040;
        z-index: 1;
        animation-name: moveInRight;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0, -0, .18, .45);
    }
    
    .more1 {
        display: none;
    }
    
    .more {
        position: relative;
        top: 260px;
        border-radius: 2em;
        font-size: xx-large;
        background-color: #FFB059;
        border: none;
        padding-left: 34px;
        padding-right: 37px;
        height: 48px;
        cursor: pointer;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        z-index: 1;
    }
    
    .more:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
        background-color: rgb(245, 148, 38);
    }
    
    .more:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }
    
    .more--orange {
        background-color: rgb(245, 148, 38);
        color: #fff;
    }
    
    .more::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    .more:hover::after {
        transform: scale(2);
    }
    
    .more--animated {
        animation-name: moveBottom;
        animation-duration: .5s;
        animation-timing-function: ease-out;
        animation-delay: 0.75s;
        animation-fill-mode: backwards;
    }
    
    .more:focus {
        outline: none;
    }
    
    .more1:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
        background-color: rgb(245, 148, 38);
    }
    
    .more1:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }
    
    .more1--orange {
        background-color: rgb(245, 148, 38);
        color: #fff;
    }
    
    .more1::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    .more1:hover::after {
        transform: scale(2);
    }
    
    .more1--animated {
        animation-name: moveBottom;
        animation-duration: .5s;
        animation-timing-function: ease-out;
        animation-delay: 0.75s;
        animation-fill-mode: backwards;
    }
    
    .more1:focus {
        outline: none;
    }
    
    .main {
        width: 82%;
        height: 55%;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    
    .picture {
        width: 40%;
        float: left;
    }
    
    .text {
        width: auto\9;
        height: auto;
        float: right;
        max-width: 60%;
        display: block;
    }
    
    .go_top {
        position: fixed;
        bottom: 25px;
        right: 55px;
        font-size: 20px;
        text-align: center;
        border: none;
        background-color: #FFF9E9;
        outline: none;
        z-index: 99;
        width: 3em;
        border-radius: 4em;
        height: 3em;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
    
    .arrow {
        width: 2em;
        height: 2em;
        opacity: 0.25;
    }
    
    @media screen and (max-width: 940px) {
        .pumpkin {
            right: 160px;
        }
    }
    
    @media screen and (max-width: 420px) {
        .pumpkin {
            top: 8vh!important;
        }
        .more1 {
            font-size: 3.5vw!important;
            top: 20vh!important;
        }
    }
    
    @media screen and (max-width: 500px) {
        .text {
            margin-top: 3vh;
        }
        .pumpkin {
            top: 3vh;
        }
        .more1 {
            font-size: 3.3vw;
            top: 10vh;
        }
    }
    
    @media screen and (max-width: 870px) {
        .pumpkin {
            top: 1vh;
        }
        .title {
            font-size: 3.3vw;
        }
        .children {
            font-size: 2vw;
        }
    }
    
    @media screen and (max-width: 515px) {
        .more {
            top: 58vh!important;
        }
    }
    
    @media screen and (max-width: 679px) {
        .more {
            height: auto;
        }
    }
    
    @media screen and (max-width: 770px) {
        .start-window {
            height: 95vh;
        }
        .picture,
        .text {
            float: none;
            width: 100%;
        }
        .main {
            flex-direction: column-reverse;
            height: auto;
            max-width: 100%;
            width: auto\9;
            position: relative;
        }
        .title {
            top: 2vh;
            left: 3.3vh;
            font-family: Acme;
            text-transform: capitalize;
            font-style: normal;
            font-weight: bold;
            font-size: 5vw;
            line-height: 177.5%;
            letter-spacing: 0.1em;
            width: 150%;
            text-align: center;
            position: relative;
            animation-name: moveInLeft;
            animation-duration: 0.5s;
            animation-timing-function: cubic-bezier(0, -0, .18, .45);
        }
        .children {
            top: 0vh;
            left: 5vh;
            padding-top: 1.5vh;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 3vw;
            line-height: 177.5%;
            letter-spacing: 0.02em;
            position: relative;
            text-align: center;
            width: 106%;
            animation-name: moveInRight;
            animation-duration: 0.5s;
            animation-timing-function: cubic-bezier(0, -0, .18, .45);
        }
        .pumpkin {
            max-width: 100%;
            height: auto;
            width: auto\9;
            left: 2%;
            top: 0vh;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%
        }
        .more1 {
            display: block;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 2.5vw;
            line-height: 177.5%;
            letter-spacing: 0.02em;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            border-radius: 2em;
            background-color: #FFB059;
            border: none;
            padding-left: 34px;
            padding-right: 37px;
            height: 48px;
            cursor: pointer;
            line-height: 100%;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            z-index: 1;
        }
        .more {
            display: none;
        }
    }
    
    .regulamin {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 50vw;
        text-decoration: underline;
        color: black;
    }
    
    @keyframes moveInLeft {
        0% {
            opacity: 0;
            transform: translateX(-10rem);
        }
        80% {
            transform: translateX(1rem);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @keyframes moveInRight {
        0% {
            opacity: 0;
            transform: translateX(10rem);
        }
        80% {
            transform: translateX(-1rem);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @keyframes moveBottom {
        0% {
            opacity: 0;
            transform: translateY(3rem);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }