               #navbar {
                 background-color: none;
               }

               .nav-link {
                 color: black;
                 cursor: pointer;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: 500;
                 font-size: 19px;
                 line-height: 22px;
               }

               .nav-link:hover {
                 background-color: rgb(245, 148, 38);
                 border-radius: 20px;
               }

               .nav-item {
                 justify-content: space-between;
                 padding-right: 2em;
               }

               .collapse {
                 position: absolute;
                 right: 0;
               }

               @media screen and (max-width: 575px) {
                 .nav-link {
                   color: black;
                   cursor: pointer;
                   font-family: Roboto;
                   font-style: normal;
                   font-weight: 500;
                   font-size: 19px;
                   line-height: 22px;
                 }


                 .nav-item {
                   justify-content: space-between;
                   padding-right: 2em;
                   align-content: flex-end;
                 }

                 .collapse {
                   position: relative;
                   right: 0;
                   justify-content: end;
                 }
               }
