<nav id="navbar" class="navbar navbar-expand-sm">
    <a class="navbar-brand" href="/">
        <img src="../../../assets/img/Logo.svg" alt="">
    </a>

    <button id="hide-but" class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon">
      <i class="material-icons">list</i>
    </span>
  </button>


    <div class="collapse navbar-collapse" (click)="toggleNavbar()" [ngClass]="{'show': navbarOpen === true, 'hide': navbarOpen === false}">
        <ul id="nav-but" class="navbar-nav mr-1">
            <li class="nav-item">
                <a class="nav-link" routerLink="/reservation">Rezerwacja dla grup</a>
            </li>
            <li class="nav-item">
                <a href="#cena" class="nav-link">Cena</a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>