* {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

/deep/ body{
  background:#FFEEC3;
}

.card {
  border: 0px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1440px;
  max-height: 1143px;
  width: 1000px;
  margin-top: 58px;

}

.date{
  padding-right: 200px;
}

.color{
  color: #FF7058;
}

.card-title {
  margin-top: 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.head {
  font-family: Times;
  font-size: 40px;
  line-height: 46px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: bold;
}

#minus {
  margin-right: auto;
  border: none;
  background-color: #fff;
}

#plus {
  margin-left: auto;
  border: none;
  background-color: #fff;
}


.button_submit {
  width: 232px;
  height: 66px;
  background: #FF7058;
  border-radius: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.image {
  width: 24px;
  margin-top: -3px;
}

.custom_btn{
  border: none;
  background: #dedede;
  /*border-top-right-radius: 20px;*/
  border-top-left-radius: 0;
  /*border-bottom-right-radius: 20px;*/
  border-bottom-left-radius: 0;
}
.custom_input{
  border-top-right-radius: 0;
  /*border-top-left-radius: 20px;*/
  border-bottom-right-radius: 0;
  /*border-bottom-left-radius: 20px;*/
}

.moneyCounter {
  display: block;
  margin-left: 60vw;
  margin-top: -40px;
}