<app-navbar></app-navbar>
<!-- <div class="back">
  <div class="row justify-content-center">
    <div class="col-sm-15 col-md-8 ">
      <div class="card">
        <div class="header_card">
          <h3 class="card-title">Opcje</h3>
          <div class="form">
            <div class="form-group">
              <label>Opcje:</label>
              <input type="text">
            </div>
            <div class="form-group">
              <label>Wybierz dzień:</label>
              <input type="date">
            </div>
            <div class="form-group">
              <label>Wybierz godzinę:</label>
              <input type="radio">9:15
              <input type="radio">10:15
            </div>
            <div class="form-group">
              <label>Ilość dzieci:</label>
              <button (click)="Plus()">Kek</button>
              {{counter}}
              <button (click)="Minus()">Lol</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="back">
  <h1 class="head">Rezerwacja</h1>
  <div class="row justify-content-center">
    <div class="card">
      <div class="header_card">
        <h3 class="card-title">Opcje</h3>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form">
            <div class="form-group">
              <label >Opcje:</label>
            </div>
            <div class="form-group">
              <label>Wybierz dzień:</label>
            </div>
            <div class="form-group">
              <label>Wybierz godzinę:</label>
            </div>
            <div class="form-group">
              <label>Ilość dzieci:</label>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form">
            <div class="form-group">
              <input type="text">
            </div>
            <div class="form-group">
              <input type="date">
            </div>
            <div class="form-group">
              <input type="radio">9:15
              <input type="radio">10:15
            </div>
            <div class="form-group">
              <input type="button" (click)="Minus()" id="minus" value="-">
              {{counter}}
              <input type="button" (click)="Plus()" id="plus" value="+">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
