<app-navbar></app-navbar>
<div class="head">Regulamin</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="list">
      <ol>
        <li>Dzieci na farmie dyń pozostają pod bezpośrednią opieka rodziców lub opiekunów.</li>
        <li>Mogą karmić zwierzęta tylko pod opieka swoich dorosłych opiekunów,<br> nie dajemy rąk do buzi zwierząt,
          trzymamy głowe conajmniej pół metra od gęsi, kuri i indyków mogą dziobnąć. </li>
        <li>Przy karmieniu królików nie dajemy rąk do buzi królika, nie podnosimy i nie ściskamy królików, karmimy tylko
          te
          <br> króliki które chcą jeść. </li>
        <li>Nie wchodzimy powyżej 1m od ziemii na żadne dekoracje , kostki słomy czy inne elementy farmy. </li>
        <li>W strefie Nerfa zawsze mamy na sobie okulary ochronne. </li>
        <li>Nie chodzimy po dyniach , nie rzucamy dyniami, nie uszkadzamy ogonków dyń i nie niszczymy dekoracji. </li>
        <li>Zwierzęta można karmić trawą , marchewką i zielonym, ale nie wrzucamy jedzenia do wybiegów dla zwierząt,<br>
          zostawiamy je poza wybiegiem i dostępem dla zwierząt. </li>
        <li> Nie przewracamy słomy w labiryncie. </li>
        <li>Na Huśtawkach Huśtamy się tylko nisko i ostrożnie, dzieci pod opieką dorosłych opiekunów. Zapraszamy</li>
      </ol>
    </div>
  </div>
</div>
