<div class="wrapper">

<div class="text-center display_font pt-3 pb-2 pb-4">
  <h2>Dzieci na żywo poznają:</h2>
</div>

<div class="main">
  <div class="circle circle_bott text-center no_marg1 mob_margin2">
    <img class="image" src="../../../assets/img/flower.svg">
    <p class="to_bottom">Zasady uprawy<br> warzyw</p>
  </div>
  <div class="line line1"></div>
  <div class="circle text-center mob_margin1">
    <img class="image2" src="../../../assets/img/boot.svg">
    <p class="to_bottom3">Zogladają<br> pole dyniowe</p>
  </div>
  <div class="line line2"></div>
  <div class="circle circle_bott text-center mob_margin2">
    <img class="image"  src="../../../assets/img/money.svg">
    <p class="to_bottom">Same<br> zbierają dynie</p>
  </div>
  <div class="line line3"></div>
  <div class="circle text-center mob_margin1">
    <img class="image" src="../../../assets/img/cow.svg">
    <p class="to_bottom2">Poznają zwierząta<br> gospodarskie</p>
  </div>
  <div class="line line4"></div>
  <div class="circle circle_bott text-center no_marg2 mob_margin2">
    <img class="image"  src="../../../assets/img/vegetables.svg">
    <p class="to_bottom2">Mogą nakarmić zwierzęt<br> i pogłaskać nich</p>
  </div>
</div>
</div>
