.circle{
  width: 270px;
  height: 270px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 -185px -185px;
}
.to_bottom{
padding-top: 30px;
}
.to_bottom2{
  padding-top: 0px;
}
.to_bottom3{
  padding-top: 77px;
}
.image2{
  margin-bottom: -60px;
}

.circle_bott {
  margin-top: 250px;
  z-index: 100;
}
.no_marg1{
  margin-left: 5px;
}

.no_marg2{
  margin-right: 5px;
}

.main{
  display: flex;
  justify-content: space-between;
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto;
}
.line{
  width: 290px;
  border-bottom: 15px solid black;
  z-index: -999;
  margin-bottom: 90px;
  position: relative;

}
.line1{
  transform: rotate(-45deg);
  margin-right: -30px;
  position: relative;
  z-index: -999;
  margin-top: 115px;
}

.line2{
  transform: rotate(45deg);
  margin-left: -30px;
  position: relative;
  z-index: -999;
  margin-top: 115px;
}
.line3{
  transform: rotate(-45deg);
  margin-right: -30px;
  position: relative;
  z-index: -999;
  margin-top: 115px;
}

.line4{
  transform: rotate(45deg);
  margin-left: -30px;
  position: relative;
  z-index: -999;
  margin-top: 115px;
}

@media screen and (max-width: 1035px) {
  .circle{
    width: 240px;
    height: 240px;
  }

}


@media screen and (max-width: 830px) {
  .circle{
    width: 175px;
    height: 175px;
    margin: auto;
  }
  .mob_margin1{
    margin-left: 30px;
  }
  .image, .image2{
    margin-left: auto;
    margin-right: auto;
    max-width: 66px;
  }
 .circle p{
   font-size: 13px;
 }
 .circle{

 }
  .mob_margin2{
    margin-right: 30px;
  }
  .main{
    display: block;
    max-width: 495px;
  }
  .line{
    width: 305px;
    margin: -30px auto;

  }

  .wrapper{
    padding-bottom: 70px!important;
  }
}

.display_font h2 {
  font-family: Times;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.02em;
  border-bottom: 9px solid #FFEEC3;
  display: inline-block;
  line-height: 0.4;
  padding-top: 2em;
}

@media screen and (max-width: 600px) {
  .display_font h2 {
    font-size: 33px;
    line-height: 1;
    border: 0;
    text-decoration: underline #FFEEC3;
  }
}
@media screen and (max-width: 400px) {
  .circle{
    width: 155px;
    height: 155px;
  }
  .line{
    border-bottom: 12px solid;
  }
  .margin_minus_20{
    margin-bottom: -20px;
  }
}

.wrapper{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 9.16%, rgba(255, 238, 195, 0.7) 95.67%);
  position: relative;
  z-index: -999;
  padding-bottom: 250px;
}
