<div class="background">

<div class="text-center display_font pt-3 pb-2 pb-4">
  <h2>Program trwa dwie godziny</h2>
</div>

<div class="row justify-content-center">
  <div class="col-sm-10 col-md-6 col-lg-5 p-3 d_flex">
    <div class="card h-100">
      <div class="header_card pic-bg-1 text-center">
        <img class="card-img pb-4" src="../../../assets/img/fire.svg" alt="hay-bale">
        <h5 class="card-title">Prezentacja dyń</h5>
      </div>
      <div class="footer_card">
        <p class="card-text lignter"> 30min</p>
        <p class="card-text mb-4">Prezentacja w podgrzewanym namiocie o uprawie dyń, prezentujemy różne odmiany dyń,
          quiz o potrawach z dyń i na koniec wycinamy dynie przy dzieciach pokaz kończypokaz z żywą kurą</p>
      </div>
    </div>
  </div>
  <div class="col-sm-10 col-md-6 col-lg-5 p-3 d_flex">
    <div class="card h-100">
      <div class="header_card pic-bg-2 text-center">
        <img class="card-img pb-4" src="../../../assets/img/squash.svg" alt="hay-bale">
        <h5 class="card-title">Pole dyniowe</h5>
      </div>
      <div class="footer_card">
        <p class="card-text lignter pl-4"> 30min</p>
        <p class="card-text pl-4 pr-4">Wyjście na pole dyniowe gdzie dzieci zbierają swoje dynie</p>
        <p class="card-text pl-4 pr-4 mb-4">Dynia prosto z pola do zabrania do domu dla każdego w cenie</p>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-10 col-md-6 col-lg-5 p-3 d_flex">
    <div class="card h-100">
      <div class="header_card pic-bg-3 text-center">
        <img class="card-img pb-4" src="../../../assets/img/hay-bale.svg" alt="hay-bale">
        <h5 class="card-title">Labirynt</h5>
      </div>
      <div class="footer_card">
        <p class="card-text lignter pl-5"> 30min</p>
        <p class="card-text pl-5 pr-5">Wspaniala zabawa w Labiryncie  ze słomy pod muzykę Mini Disco</p>

      </div>
    </div>
  </div>
  <div class="col-sm-10 col-md-6 col-lg-5 p-3 d_flex">
    <div class="card h-100">
      <div class="header_card pic-bg-4 text-center">
        <img class="card-img pb-4" src="../../../assets/img/sheep.svg" alt="hay-bale">
        <h5 class="card-title">MiniZoo</h5>
      </div>
      <div class="footer_card">
        <p class="card-text lignter pl-4"> 30min</p>
        <p class="card-text pl-4 pr-4">MiniZoo gdzie opowiadamy o zwierzętach ciekawostki o ich hodowli, niektóre
          zwierzątkamożna głaskać i karmić. W MiniZoo króliki, kury, owieczki, świnki, alpaki</p>
      </div>
    </div>
  </div>
</div>

<div class="p-5"></div>

<app-price></app-price>

</div>
