<div id="about-us" class="row inline-columns">
    <div id="about-us-left" class="col-md-6">
        <img id="pumpkin-about" src="../../../assets/img/pumpkin_about.png" alt="">
        <img id="pumpkin-girl" src="../../../assets/img/pumpkin_girl.jpg" alt="">

    </div>
    <div class="col-md-6" id="about-us-right">

        <td id="text-about" align="center" class="inline-columns">
            <tr id="o-nas">O nas</tr>
            <tr id="title">Nasza farma</tr>
            <tr id="info">To niezapomniana przygoda jak dla dzieci tak i dla dorosłych. Prowadzimy wycieczkę edukacyjno-poznawczą, gdzie dzieci na żywo poznają: zasady uprawy warzyw, będą mogli wejść na pole dyniowe i pozbierać dynie, zobaczyć, pogłaskać i nakarmić
                niektóre zwierząt gospodarskie. Zapraszamy na naszą farmę na niezapomnianą wyczieczkę. </tr>
        </td>

    </div>
</div>