<div id="about-us" class="row inline-columns">
    <div id="about-us-left" class="col">
        <img id="pumpkin-about" src="../../../assets/img/pumpkin_about.png" alt="">
        <img id="pumpkin-girl" src="../../../assets/img/pumpkin_girl.jpg" alt="">
    </div>
    <div class="col" id="about-us-right">
        <img class="corner" src="../../../assets/img/Subtract.svg" alt="">

        <td id="text-about" class="inline-columns">
            <tr id="o-nas">O nas</tr>
            <tr id="title">Nasza farma</tr>
            <tr id="info">To niezapomniana przygoda jak dla dzieci tak i dla dorosłych. Prowadzimy wycieczkę edukacyjno-poznawczą, gdzie dzieci na żywo poznają: zasady uprawy warzyw, będą mogli wejść na pole dyniowe i pozbierać dynie, zobaczyć, pogłaskać i nakarmić
                niektóre zwierząt gospodarskie. Zapraszamy na naszą farmę na niezapomnianą wyczieczkę. </tr>
        </td>

    </div>

</div>

<app-benefits></app-benefits>

<div align="center" id="children-know">
    <h1 class="children">Dzieci na żywo poznają:</h1>
    <div style="display: flex; justify-content: space-around;" class=" row form-group">
        <div id="boot">
            <tr><img id="boot-img" src="../../../assets/img/boot.svg" alt=""></tr>
            <tr><span id="boot-span">Zogladają pole dyniowe</span></tr>
        </div>
        <div id="cow">
            <tr><img id="cow-img" src="../../../assets/img/cow.svg" alt=""></tr>
            <tr><span id="cow-span">Poznają zwierząta gospodarskie</span></tr>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between;" class="row form-group">
        <div id="flower">
            <tr><img id="flower-img" src="../../../assets/img/flower.svg" alt=""></tr>
            <tr><span id="flower-span">Zasady uprawy warzyw</span></tr>
        </div>

        <div id="money">
            <tr><img id="money-img" src="../../../assets/img/money.svg" alt=""></tr>
            <tr><span id="money-span">Same zbierają dynie</span></tr>
        </div>

        <div id="vegetables">
            <tr><img id="vegetables-img" src="../../../assets/img/vegetables.svg" alt=""></tr>
            <tr><span id="vegetables-span">Mogą nakarmić zwierzęt i pogłaskać nich</span></tr>
        </div>
    </div>
</div>