<div class="row justify-content-center">

  <div class="col-sm-10 col-md-5 col-lg-3 p-3 d_flex">
    <div class="card h-100">

      <div class="header_card">
        <h5 class="card-title">MiniDisco<br> w Labirincie ze Słomy</h5>
      </div>

      <div class="body_card text-center">
        <img class="card-img" src="../../../assets/img/hay-bale.svg" alt="hay-bale">
      </div>

      <div class="footer_card">
        <p class="card-text">Dzieci mają zabawę w labiryncie ze słomy z mini disco, gdzie mogą tańczyć, biegać lub
          ciekawe spędzić czas.</p>
      </div>


    </div>
  </div>

  <div class="col-sm-10 col-md-5 col-lg-3 p-3 d_flex">
    <div class="card h-100">

      <div class="header_card">
        <h5 class="card-title">Pole Dyniowe</h5>
      </div>
      <div class="body_card text-center">
        <img class="card-img" src="../../../assets/img/pumpkin.svg" alt="pumpkin">
      </div>
      <div class="footer_card">
        <p class="card-text">Wychodzimy z dziećmi na pole dyniowe gdzie dzieci wybierają i zbierają swoje dynie.</p>
      </div>

    </div>
  </div>

  <div class="col-sm-10 col-md-5 col-lg-3 p-3 d_flex">
    <div class="card h-100">

      <div class="header_card">
        <h5 class="card-title">Mini Zoo<br> ze zwierzętami</h5>
      </div>

      <div class="body_card text-center">
        <img class="card-img" src="../../../assets/img/sheep.svg" alt="sheep">
      </div>

      <div class="footer_card">
        <p class="card-text">W naszym mini zoo można się spotkać z królikami, kurami, owieczkami, świnkami i
          alpakami.</p>
      </div>

    </div>
  </div>

</div>



