<div id="cena" class="text-center display_font pt-3 pb-3">
    <h2>Cena</h2>
</div>

<div class="row justify-content-center">
    <div class="col-sm-6 col-md-4 col-lg-3 p-3 d_flex ">
        <div class="card h-100 bg-white w-100">
            <div class="text-center pt-2">
                <h5 class="card-title">Program lite</h5>
            </div>
            <div class="body_card">
                <ul>
                    <li>Opiekunowie nie płacą</li>
                    <li>Dynia do 4kg dla każdego uczestnika</li>
                </ul>
            </div>
            <div class="text-center price_card mt-auto">
                <h3>45 zł</h3>
                <p>od dziecka</p>
            </div>
            <div class="footer_card">
              <a href="#contact">
                <button type="button" class="btn btn-border">Skontaktuj</button>
              </a>

            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4 col-lg-3 p-3 d_flex">
        <div class="card h-100 bg-white kontur w-100">
            <div class="text-center pt-2">
                <h5 class="card-title">Program ++</h5>
            </div>
            <div class="body_card">
                <ul>
                    <li>Opiekunowie nie płacą</li>
                    <li>Dynia do 4kg dla każdego uczestnika</li>
                </ul>

                <ul>
                    <li>Posilłek</li>
                    <li>Pieczenie kiełbasek<br> na ognisku</li>
                    <li>Chleb i ciepła herbata</li>
                </ul>
            </div>

            <div class="text-center price_card mt-auto">
                <h3>55 zł</h3>
                <p>od dziecka</p>
            </div>
            <div class="footer_card">
              <a href="#contact">
                <button type="button" class="btn btn-border">Skontaktuj</button>
              </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 p-3 d_flex">
        <div class="card h-100 bg-white w-100">
            <div class="text-center pt-2">
                <h5 class="card-title ml-1 mr-1">Dla grup szlolnych i&#160;przedszkolnych:
                </h5>
            </div>
            <div class="body_card">
                <ul class="line_height">
                    <li>Dostępne godziny <br> 9:15 i 10:15</li>
                    <li>Dynia do 4kg dla każdego uczestnika</li>
                    <li>Czas trwania: 2,5 godziny</li>
                    <li>45zł od dziecka</li>
                    <li>65 zł – opcja z jedzeniem</li>
                </ul>
            </div>


            <div class="footer_card mt-auto">

                <button type="button" routerLink="/reseng rvation" class="btn btn-border">Wypełnij formularz</button>

            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-6 col-lg-3 p-3 d_flex">
        <div class="card h-100 bg-white w-100">
            <div class="text-center pt-2">
                <h5 class="card-title">Klienci indywidualni:
                </h5>
            </div>

            <div class="body_card text-center">


                <img src="../../../assets/img/clock.svg" alt="Time">
                <p class="card-text pl-4 pr-4 ml-auto mr-auto">Codziennie<br> w&#160;godzinach&#160;09&#160;–&#160;18
                </p>
                <p class="card-text pl-4 pr-4">do 31.10.2019</p>

            </div>
            <div class="mt-auto text-center mb-4">
                <img class="mt-auto" src="../../../assets/img/person.svg" alt="Person">
                <p class="card-text pl-4 pr-4 mb">Klienci bez rezerwacji:</p>
                <p class="card-text pl-4 pr-4 mb">20zł – dzieci
                    <br>10zł – dorosli</p>

            </div>
        </div>
    </div>
</div>
