/* You can add global styles to this file, and also import other style files */

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: block;
    word-wrap: break-word;
    scroll-behavior: smooth;
    margin: 0;
    font-family: "Roboto", "Acme", "Andada", "Helvetica Neue", sans-serif;
}